.container-new {
    padding-bottom: 20px;
}

font textarea{
    resize: none;
    height: 105px;
}

form input[type="radio"]{
    margin: 15px 0;
}

form input[type="radio"]:not(:first-child){
    margin-left: 15px;
    font-size: 1.3em;
}

.status span{
    padding-left: 0.5em;
    font-size: 1.3em;
}

.status{
    margin-bottom: 1em;
}

.status .checked{
    width: 10px;
    height: 10px;
}

.btn{
    margin-bottom: 15px;
}

@media screen and (max-width: 600px){
    .status {
        margin-top: -10px;
        width: 290px;
    }

    .status span{
        font-size: 1em;
    }
}